@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-commissioner antialiased bg-lotion;
  }

  @font-face {
    font-family: "Commissioner";
    font-weight: 400;
    src: url("/assets/font/Commissioner-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Commissioner";
    font-weight: 500;
    src: url("./assets/font/Commissioner-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Commissioner";
    font-weight: 700;
    src: url("./assets/font/Commissioner-Bold.woff2") format("woff2");
  }
}

@layer utilities {
  .background-linear {
    opacity: 0.6;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  }
}
