@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .background-linear {
    opacity: 0.6;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  }
}
