/* BUTTON */
.button {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-family: 'Commissioner-Bold', sans-serif;
    color: var(--white);
    border-radius: 3.3rem;
    cursor:pointer;
}

/* BUTTON PRIMARY */
.button__primary {
    background-color: var(--verdigris);
}

.button__primary:hover {
    background-color: var(--deep-verdigris);
}

/* BUTTON SECONDARY */
.button__secondary {
    background-color: var(--silver-light);
}

.button__secondary span:last-child {
    color: var(--silver);
    padding:0 2.4rem 0 1.6rem;
}

.button__secondary .button__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height:5.6rem;
    width:5.6rem;
    border-radius: 5.6rem;
    background-color: var(--deep-dark);
}

.button__secondary .button__icon svg {
    fill: var(--bookmarkiconcolor);
    width:1rem;
}

.button__secondary:hover .button__icon {
    background-color: var(--deep-grey);
}

/* BUTTON BIG */
.button__big {
    height: 5.6rem;
}

.button__big span:last-child {
    padding:0 4rem;
}

/* BUTTON MEDIUM */
.button__medium {
    height: 4.8rem;
}

.button__medium span:last-child {
    padding:0 3.2rem;
}

/* BUTTON ACTIVE */

.button__secondary.button__active {
    background-color: var(--deep-verdigris-light);
}

.button__secondary.button__active .button__icon {
    background-color: var(--deep-verdigris);
}

.button__secondary.button__active .button__icon svg {
    fill: var(--white);
}

.button__secondary.button__active span:last-child {
    color:var(--deep-verdigris);
}


















